/* Site Layout for Youth Skills Center Website */

/* Last Updated: April 18th, 2013 */
body {
    background-color: #eee;
}
div#wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
    background-color: #efefef;
}
div#header-wrap {
	width: 100%;
	height: 128px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	position:fixed;
	z-index:10000;
    box-shadow: 0 0 5px #bbb;
}	
div#header {
	width: 94%;
	max-width:1280px;
	margin: 0 auto;
	height: 100%;
	background-color: #fff;
	position: relative;	
}
#navigation_wrap {
    width: 100%;
    height: 35px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
div.site-logo {
	width: 400px;
	height: 48px;
	background: url(../images/logos/site-logo-light-sub.png) white no-repeat center;
	z-index: 500;
	/*
	position: absolute;
	top: 50%; 
	margin-top: -24px;
	*/
}
div#fluff1 {
	height: 128px;
}
div#content-wrap {
	/*width: 100%;*/
	width:1280px;
	padding: 10px 20px;
	margin: 0 auto;
	/*background-color: #fff;*/
    box-sizing: border-box;
}	
div#content-inner-wrap {
	min-height: 120px;
	width: 100%;
	/*max-width: 1280px;*/
    position: relative;
}
div.content-box {
    width: 1240px;
    /*max-width: 1280px;*/
    min-height: 200px;
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 5px #ccc;
    display: inline-block;
    /*box-sizing: border-box;*/
}
div.content-box.small-left {
    width: 424px;
    margin-right: 10px;
}
div.content-box.large-right {
    margin-left: 10px;
    width: 791px;

}
div#footer-wrap {
	width: 100%;
	min-height:160px;
	background-color: #555;
    box-shadow: 0 0 5px #bbb;
    margin-top: 10px;
}
div#footer {
	min-height: 200px;	
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px 20px;
}
div.footer-links {
	width: 32%;
	float: left;
}
div.footer-links img {
	margin-top: 10px;	
}
div#footer p {
	clear: both;
	color: #fff;
	font-size: 80%;	
	padding-top: 20px;
	margin: 0;
}
.full-box-link {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1501;	
}

